.u-section-1 .u-sheet-1 {min-height: 710px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-1 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/sillatecnica.JPG"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-layout-cell-2 {min-height: 590px; pointer-events: auto; background-image: linear-gradient(#adcce9, #e57075)}
.u-section-1 .u-container-layout-2 {padding: 30px 60px}
.u-section-1 .u-text-1 {font-family: Antic; margin: 117px 0 0}
.u-section-1 .u-image-2 {height: 162px; margin: 29px auto 0 0}
.u-section-1 .u-btn-1 {text-transform: uppercase; font-size: 0.875rem; letter-spacing: 2px; background-image: none; border-style: solid; animation-duration: 1000ms; margin: 39px auto 0 0; padding: 10px 34px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 481px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 486px}
.u-section-1 .u-layout-cell-2 {min-height: 486px}
.u-section-1 .u-text-1 {margin-top: 83px}
.u-section-1 .u-image-2 {height: 126px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: 56px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 367px}
.u-section-1 .u-image-1 {min-height: 372px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 372px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-1 {margin-top: 35px}
.u-section-1 .u-image-2 {height: 108px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: 74px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 653px}
.u-section-1 .u-image-1 {min-height: 558px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-top: 0}
.u-section-1 .u-image-2 {height: 187px; margin-top: 15px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: 8px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 446px}
.u-section-1 .u-image-1 {min-height: 351px}
.u-section-1 .u-image-2 {height: 115px; margin-right: initial; margin-left: initial} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 762px}
.u-section-2 .u-text-1 {margin: 60px auto 0}
.u-section-2 .u-image-1 {width: 549px; height: 526px; margin: 33px 591px 0 0}
.u-section-2 .u-list-1 {min-height: 526px; grid-template-columns: calc(((100% - 1140px) / 2)  + 560px) calc(((100% - 1140px) / 2)  + 560px); grid-template-rows: auto auto; height: auto; width: 570px; grid-gap: 20px 20px; margin: -526px 0 0 auto}
.u-section-2 .u-list-item-1 {background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-2 {margin: 0 11px 0 29px}
.u-section-2 .u-image-2 {width: 158px; height: 128px; margin: 19px auto 0}
.u-section-2 .u-list-item-2 {background-image: none}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-3 {margin: 0 11px 0 29px}
.u-section-2 .u-image-3 {width: 158px; height: 128px; margin: 19px auto 0}
.u-section-2 .u-list-item-3 {background-image: none}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-4 {margin: 0 11px 0 29px}
.u-section-2 .u-image-4 {width: 158px; height: 128px; margin: 19px auto 0}
.u-section-2 .u-list-item-4 {background-image: none}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-text-5 {margin: 0 11px 0 29px}
.u-section-2 .u-image-5 {width: 158px; height: 128px; margin: 19px auto 0}
.u-section-2 .u-image-6 {width: 154px; height: 174px; margin: -179px 337px 0 auto}
.u-section-2 .u-image-7 {width: 178px; height: 178px; margin: -456px 49px 0 auto}
.u-section-2 .u-image-8 {width: 211px; height: 153px; margin: 104px 26px 60px auto} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 675px}
.u-section-2 .u-image-1 {width: 453px; height: 413px; margin-right: 391px}
.u-section-2 .u-list-1 {min-height: 413px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 460px)); width: 467px}
.u-section-2 .u-image-6 {margin-right: 270px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1251px}
.u-section-2 .u-image-1 {height: 558px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-list-1 {min-height: 518px; grid-template-columns: calc(((100% - 720px) / 2)  + 350px) calc(((100% - 720px) / 2)  + 350px); margin-top: 7px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-6 {margin-top: -161px; margin-right: auto; margin-left: 111px}
.u-section-2 .u-image-7 {margin-top: -471px; margin-right: 79px}
.u-section-2 .u-image-8 {margin-top: 111px; margin-right: 62px; margin-bottom: 40px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1730px}
.u-section-2 .u-image-1 {margin-top: 20px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-list-1 {grid-template-columns: 100%; margin-top: 20px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-6 {width: 150px; height: 137px; margin-top: -416px; margin-left: auto}
.u-section-2 .u-image-7 {width: 169px; height: 169px; margin-top: -409px; margin-right: 178px}
.u-section-2 .u-image-8 {margin-top: 343px; margin-right: auto; margin-bottom: 43px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1527px}
.u-section-2 .u-image-1 {height: 310px; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-list-1 {min-height: 1028px; margin-top: 11px; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {margin-left: 65px}
.u-section-2 .u-image-3 {margin-left: 65px}
.u-section-2 .u-image-4 {margin-left: 65px}
.u-section-2 .u-image-5 {margin-left: 65px}
.u-section-2 .u-image-6 {margin-top: -429px; margin-left: 85px}
.u-section-2 .u-image-7 {margin-top: -652px; margin-right: auto; margin-left: 76px}
.u-section-2 .u-image-8 {margin-top: 602px; margin-bottom: 40px; margin-left: 55px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/1876-720x421.jpg"); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {font-size: 3.75rem; margin: 108px 340px 0 0}
.u-section-3 .u-line-1 {width: 305px; transform-origin: left center; height: 4px; margin: 30px auto 0 0}
.u-section-3 .u-text-2 {font-weight: 700; margin: 20px 340px 0 0}
.u-section-3 .u-text-3 {margin: 20px 333px 60px 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 412px}
.u-section-3 .u-text-1 {margin-right: 140px}
.u-section-3 .u-text-2 {margin-right: 140px}
.u-section-3 .u-text-3 {margin-right: 133px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 316px}
.u-section-3 .u-text-1 {margin-right: auto}
.u-section-3 .u-text-2 {margin-right: auto}
.u-section-3 .u-text-3 {margin-right: auto} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 237px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 149px} }.u-section-4 .u-sheet-1 {min-height: 168px}
.u-section-4 .u-social-icons-1 {height: 48px; min-height: 16px; width: 267px; min-width: 139px; white-space: nowrap; margin: 54px auto}
.u-section-4 .u-icon-1 {height: 100%}
.u-section-4 .u-icon-2 {height: 100%}
.u-section-4 .u-icon-3 {height: 100%}
.u-section-4 .u-icon-4 {height: 100%}